.header {
  width: 100%;
}
.header-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-nav {
  display: flex;
  width: 532px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  width: 294px;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 32px 0;
}
.logo-web {
  color: var(--hover-color);
}

.logo-studio {
  margin-right: 93px;
}

.header li:not(.last-nav) {
  margin-right: 50px;
}

.logo-web {
  color: var(--hover-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-studio {
  color: black;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.nav-list a {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: var(--animation);
}
.nav-list a:hover,
.nav-list a:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}

.adress-top a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--p-color);
  transition: var(--animation);
}
.adress-top a:hover,
.adress-top a:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--hover-color);
}
.top-mail {
  margin-right: 50px;
}
/* Header Icons */

.mail-icon {
  fill: currentColor;
  margin-right: 10px;
}
.phone-icon {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: text-top;
}
